{{> head}}
{{> navbar}}
<main class="page page--author">
   <div class="wrapper">
      {{#author}}
         <div class="hero">
            {{#if authorViewConfig.displayAvatar}}
               {{#if avatar}}
                  <img 
                     src="{{avatarImage.url}}" 
                     {{ lazyload "eager" }}
                     height="{{avatarImage.height}}"
                     width="{{avatarImage.width}}" 
                     class="hero__avatar" 
                     alt="{{avatarImage.alt}}">
               {{/if}}
            {{/if}}
            <h1>
               {{name}} 
               {{#if authorViewConfig.displayPostCounter}}<sup>({{postsNumber}})</sup>{{/if}}
            </h1>
            {{#if authorViewConfig.displayDescription}} 
               {{{description}}}
            {{/if}}
            {{#if authorViewConfig.displayWebsite}}  
               {{#if website}}
                  <p class="page--author__website">
                     <svg height="24" width="24" aria-hidden="true" stroke="var(--color)" stroke-width="2">
                        <use xlink:href="{{@website.assetsUrl}}/svg/svg-map.svg#website"/>
                     </svg>
                     <a href="{{website}}" class="invert" target="_blank" rel="nofollow noreferrer noopener">{{ translate 'author.visitWebsite' }}</a>
                  </p>
               {{/if}}
            {{/if}}
      </div>
      {{#if authorViewConfig.displayPostList}} 
         <div class="{{#checkIf @config.custom.layoutAuthor '==' "grid"}}l-grid {{@config.custom.layoutAuthorGrid}} {{else}}l-masonry {{@config.custom.layoutAuthorMasonry}}{{/checkIf}}">
            {{#each ../posts}}
               <article class="c-card {{@config.custom.cardsLayout}}{{#isFeatured}} c-card--featured{{/isFeatured}}">
                  {{#if @config.custom.cardsImage}}
                     {{#featuredImage}}
                        {{#if url}}
                           <a href="{{../url}}" class="c-card__image">
                              <img
                                 src="{{url}}"
                                 {{#if @config.site.responsiveImages}}
                                    {{responsiveImageAttributes 'featuredImage' srcset sizes}}
                                 {{/if}}
                                 {{ lazyload "lazy" }}
                                 height="{{height}}"
                                 width="{{width}}"
                                 alt="{{alt}}">
                           </a>
                        {{/if}}
                     {{/featuredImage}}
                  {{/if}}
                  <div class="c-card__wrapper">
                     <header class="c-card__header">
                        {{#if @config.custom.cardsTag}}
                           {{#if mainTag}}
                              <div class="c-card__tag">
                                 <a href="{{ mainTag.url }}">{{ mainTag.name }}</a>
                              </div>
                           {{/if}}
                        {{/if}}
                        <h2 class="c-card__title">
                           <a href="{{url}}" class="invert">
                              {{title}}
                           </a>
                        </h2>
                     </header>
                     {{#if @config.custom.cardsExcerpt}}
                        {{#if hasCustomExcerpt}}
                           <div class="c-card__text">{{{ excerpt }}}</div>
                        {{else}}
                           <p class="c-card__text">{{{ excerpt }}}</p>
                        {{/if}}
                     {{/if}}
                     {{#checkIfAny @config.custom.cardsDate @config.custom.cardsComments}}
                        <footer class="c-card__meta">
                           {{#if @config.custom.cardsDate}}
                              <time datetime="{{date createdAt 'YYYY-MM-DDTHH:mm'}}">
                                 {{#checkIf @config.custom.formatDate '!=' 'custom'}}
                                    {{date createdAt @config.custom.formatDate}}
                                 {{else}}
                                    {{date createdAt @config.custom.formatDateCustom}}
                                 {{/checkIf}}
                              </time>
                           {{/if}}
                           {{#if @config.custom.cardsComments}}
                              <div class="c-card__comments">
                                 <a href="{{url}}#comments" rel="nofollow" aria-label="{{ translate 'common.comments' }}">
                                    <svg aria-hidden="true">
                                       <title>{{ translate 'common.comments' }}</title>
                                       <use xlink:href="{{@website.assetsUrl}}/svg/svg-map.svg#comments"/>
                                    </svg>
                                 </a>
                              </div>
                           {{/if}}
                        </footer>
                     {{/checkIfAny}}
                  </div>
               </article>
            {{/each}}
         </div>
         {{> pagination}}
         {{/if}} 
      {{/author}}
   </div>
</main>
{{> footer}}
